* {
  font-family: "Inter", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  color: #2B283A;
}

body {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
  align-items: center;
  height: 100vh;
  background-color: #e5e5e5;
}

main {
  width: 550px;
  /* height: 900px; */
  background-color: #ffff;
  height: 700px;
  border-radius: 15px;
  padding: 5px;
  
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Rectangle 85 */
header {
  /* container */
  height: 55px;
  background-color: #f55a5a;
  border-radius: 10px 10px 0px 0px;
  /* items alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font settings */
  font-weight:500;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

header > img {
  height: 35px;
  margin-right: 8px;
}

header > span {
  color: white;
}

.travel-card {
  height: 168px;
  max-width: 470px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  font-size: 0.53rem;
  align-items: center;
}

.main-image-container {
  height: 168px;
  width: 125px;
  overflow: hidden;
  border-radius: 5px;
}

.main-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container{
  margin-left: 16px;
  /* padding-right: 5px; */
}

.location {
  height: 12px;
  display: flex;
  align-items: center;
}

.location > img {
  height: 100%;
}

.location > span {
  text-transform: uppercase;
}

.location > a {
  margin-left: 12px;
  color: #918E9B;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 3px;
  margin-bottom: 12px;
}

.date {
  font-weight: 700;
}

.description {
  margin-top: 8px;
  max-width: 326px;
}

@media (max-height: 1080px) {
  main {
    height: 90vh;
  }
}

@media (max-width: 550px) {
  main {
    width: 100vw;
    height: 100vh;
  }

  .info-container{
    padding-right: 5px;
  }
}

